.testimonial {
  margin: 80px auto;
  padding: 0 80px;
  position: relative;
}
.next-btn,
.back-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding: 15px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #0D1B2A;
}
.back-btn{
    right: auto;
    left: 0;
}

.slider{
    overflow: hidden;

}
.slider ul {
    display: flex;
    width: 200%;
    overflow-x: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
}
.slider ul li {
    list-style: none;
    width: 50%;
    padding: 30px;
}

.slide{
    box-shadow: 0 0   20px rgba(0,0,0,.05);
    padding: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    line-height: 1.4;
    color: #0D1B2A;
}
.slide img{
    width: 65px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
    border: 4px solid #0D1B2A;
}
.user-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;

}
.user-info h3{
    color: #1B263B;
}
.user-info span{
    color: #415A77;
}

.contact-col ul li img{
    width: 25px;
    margin-right: 10px;
}


/* -------------media query --------- */

@media (max-width:800px){
    .testimonial{
        padding: 0 25px;

    }
    .next-btn,.back-btn{
        padding: 10px;
        width: 30px;
    }
    .testimonial ul li {
        padding: 10px;
    }
    .slide{
        padding: 10px;
    }
    .slide img{
        width: 50px;
        border: 3px solid #0D1B2A;
    }
}

@media (max-width:600px){

    .user-info{
        display:block;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .user-info h3{
        font-size: 16px;
    }
    .slider p{
        font-size: 12px;
    }
}