.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 120px;
    color: whitesmoke;
}
.nav-logo{
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;

}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 90px;
    font-size: 18px;


}
.nav-contact{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background: whitesmoke;
    padding: 10px 38px;
    color: #262626;
}